.footer {
  /* position: fixed !important; */
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.form-card {
  margin-bottom: 5rem !important;
}

a.jumbo-link {
  color: #0060b6;
  text-decoration: none;
  font-weight: bold;
}

a.jumbo-link:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
